body{
  font-family: sans-serif;
  background-color: #ffeeee;
  padding: 0;
  margin: 0;
}

/* ----------Nav-Bar------- */

.nav{
  width: 100%;
  position: sticky;
  top: 0;
  /* height: 70px; */
  background-color: #333333;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1.5rem 0;
}
.myLinks{
  display: flex;
}
.myLinks >div{
  padding-right: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* ------content------ */

#content{
  display: flex;
  justify-content: center;
  align-items: center;
}
#photo{
   width: 210px;
   height: 210px;
   border-radius: 50%;
   border:5px solid #333333;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
}
#pro_photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#content{
  display: flex;
  flex-direction: column;
  color: #333333;
  font-weight:800;
}
#writen-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#writen-content >p{
  margin-top: 0px;
  margin-bottom: 0px;
}
#writen-content >h1{
  font-weight: 800;
}
.about-me, .contact-me, .projects{
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: #333333;
  padding: 13px;
  border-radius: 10px;
  border: 3px solid #333333;
  margin-bottom: 0px;
  margin-top: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.about-me:hover, .contact-me:hover, .projects:hover{
  background-color: #ffeeee;
  color: #333333;
}

/* -------------------Abouut----------------- */

#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 30px; */
}
#word-h1{
  font-size: 25px;
  color: #333333;
}
.style-word{
  color: #333333;
  font-weight: bold;
  font-size: 17px
}
#about >ul{
  line-height: 35px;
  font-size: 16px;
}

#about >h3{
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
.tech-stack >img{
  padding-right: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.radius-img{
  border-style: none;
  border-radius: 5px;
  height: 18px;
}
.learning{
  padding-bottom: 50px;
}

/* -------------------------------------- */

/* ----------Projects---------- */

#all-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.style-project-h2{
  font-weight: bold;
  color: #333333;
}
.project{
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 60px;
  width: 700px;
  height: 420px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #333333;
}
.project > p{
  margin-top: 0px;
  color: #333333;
}
.project:hover{
  background-color: #333333;
  color:#fff;
}
.project:hover p, .project:hover .style-project-h2{
  color:#fff;
}
.original-project{
  background-image:url("./my_work/Image/unsorted.png");
  background-size: cover;
  width: 450px;
  height: 250px;
  margin-top: 20px;
}
.original-project:hover{
  background-image:url("./my_work/Image/sorted.png");
  background-size: cover;
}
.original-project >Img{
  width: 450px;
  height: 250px;
} 

/* ------------------------------------ */

/* -----------Contact----------- */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact>h1{
  font-size: 24px;
  color: #333333;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  width: 320px;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 8px;
  padding-left: 30px;
  border-style: none;
  border-radius: 8px;
  border: 1px solid #333333;
}
.message{
  padding-bottom: 80px;
  margin-bottom: 40px;
}
.submit{
  width: 135px;
  padding: 9px;
  color: #fff;
  cursor: pointer;
  background-color: #333333;
  border-style: none;
  border: 1px solid #333333;
  border-radius: 8px;
  margin-bottom: 50px;
}
.submit:hover{
  color: #333333;
  background-color:#ffeeee;
}
/* .connect{
} */
.connect-size{
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}
