body{
  font-family: sans-serif;
  background-color: #ffeeee;
  padding: 0;
  margin: 0;
}
/* *{
  outline:1px solid rgb(40, 201, 0) ;
} */
/* ----------Nav-Bar------- */

.nav{
  width: 100%;
  position: sticky;
  top: 0;
  /* height: 70px; */
  background-color: #333333;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1.5rem 0;
}
.myLinks{
  display: flex;
}
.myLinks >div{
  padding-right: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* ------content------ */

#content{
  display: flex;
  justify-content: center;
  align-items: center;
}
#photo{
   width: 210px;
   height: 210px;
   border-radius: 50%;
   border:5px solid #333333;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
}
#pro_photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#content{
  display: flex;
  flex-direction: column;
  color: #333333;
  font-weight:800;
}
#writen-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#writen-content >p{
  margin-top: 0px;
  margin-bottom: 0px;
}
#writen-content >h1{
  font-weight: 800;
}
.about-me, .contact-me, .projects{
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: #333333;
  padding: 13px;
  border-radius: 10px;
  border: 3px solid #333333;
  margin-bottom: 0px;
  margin-top: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.about-me:hover, .contact-me:hover, .projects:hover{
  background-color: #ffeeee;
  color: #333333;
}

/* -------------------Abouut----------------- */

#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 30px; */
}
#word-h1{
  font-size: 25px;
  color: #333333;
}
.style-word{
  color: #333333;
  font-weight: bold;
  font-size: 17px
}
#about >ul{
  line-height: 35px;
  font-size: 16px;
}

#about >h3{
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.tech-stack >img{
  padding-right: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.radius-img{
  border-style: none;
  border-radius: 5px;
  height: 18px;
}
.learning{
  padding-bottom: 50px;
}

/* -------------------------------------- */

/* ----------Projects---------- */

#all-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.style-project-h2{
  font-weight: bold;
  color: #333333;
}
.project{
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 60px;
  width: 700px;
  height: 420px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #333333;
}
.project > p{
  margin-top: 0px;
  color: #333333;
}
.project:hover{
  background-color: #333333;
  color:#fff;
}
.project:hover p, .project:hover .style-project-h2{
  color:#fff;
}
.one{
  background-image:url("./my_work/Image/unsorted.png");
  background-size: cover;
  width: 450px;
  height: 250px;
  margin-top: 20px;
}
.one:hover{
  background-image:url("./my_work/Image/sorted.png");
  background-size: cover;
}

.two{
  background-image:url("./my_work/Image/guess.png");
  background-size: cover;
  width: 450px;
  height: 250px;
  margin-top: 20px;
}
.two:hover{
  background-image:url("./my_work/Image/guessed.png");
  background-size: cover;
} 

.original-project >Img{
  width: 450px;
  height: 250px;
} 

/* ------------------------------------ */

/* -----------Contact----------- */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact>h1{
  font-size: 24px;
  color: #333333;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  width: 320px;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 8px;
  padding-left: 30px;
  border-style: none;
  border-radius: 8px;
  border: 1px solid #333333;
}
.message{
  padding-bottom: 80px;
  margin-bottom: 40px;
}
.submit{
  width: 135px;
  padding: 9px;
  color: #fff;
  cursor: pointer;
  background-color: #333333;
  border-style: none;
  border: 1px solid #333333;
  border-radius: 8px;
  margin-bottom: 50px;
}
.submit:hover{
  color: #333333;
  background-color:#ffeeee;
}
.connect-size{
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}


/* --------------First Media query for max-width-900px--------------- */




@media (max-width:900px) {
  
  /* ------content------ */
  #writen-content >h1{
    font-size: 30px;
    font-weight: 800;
  }
  .about-me, .contact-me, .projects{
    font-size: 20px;
    padding: 13px;
  }
  
  /* -------------------Abouut----------------- */

  #word-h1{
    font-size: 24px;
  }
  .style-word{
    font-size: 15px;
  }
  #about >ul{
    line-height: 33px;
    font-size: 15px;
  }
  
  #about >h3{
    font-size: 17px;
  }
  .tech-stack >img{
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  /* -------------------------------------- */
  
  /* ----------Projects---------- */
  .project{
    margin-bottom: 40px;
    width: 600px;
    height: 380px;
  }
  .project h2{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .project p{
    font-size: 14px;
  }
  .original-project{
    width: 400px;
    height: 250px;
    margin-top: 10px;
  }
  .original-project >Img{
    width: 400px;
    height: 250px;
  } 
  
}


/* ---------------------Second Media Queury for 800px------------------- */

@media (max-width:800px) {
  
  /* ------content------ */
  #writen-content >h1{
    font-size: 28px;
    font-weight: 800;
  }
  .about-me, .contact-me, .projects{
    font-size: 18px;
    padding: 11px;
  }
  
  /* -------------------Abouut----------------- */

  #word-h1{
    font-size: 22px;
  }
  .style-word{
    font-size: 13px;
  }
  #about >ul{
    line-height: 31px;
    font-size: 13px;
  }
  
  #about >h3{
    font-size: 15px;
  }
  .tech-stack >img{
    padding-right: 28px;
    margin-bottom: 18px;
    margin-top: 18px;
  }
  
  /* -------------------------------------- */
  
  /* ----------Projects---------- */
  .project{
    margin-bottom: 38px;
    width: 580px;
    height: 360px;
  }
  .project h2{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .project p{
    font-size: 12px;
  }
  .original-project{
    width: 380px;
    height: 230px;
    margin-top: 10px;
  }
  .original-project >Img{
    width: 380px;
    height: 230px;
  } 
  
}


/* ---------------------Third Media Query for width 700px */

@media (max-width:700px) {
  
  /* ------content------ */
  #writen-content >h1{
    font-size: 26px;
    font-weight: 800;
  }
  .about-me, .contact-me, .projects{
    font-size: 17px;
    padding: 10px;
  }
  
  /* -------------------Abouut----------------- */

  #word-h1{
    font-size: 20px;
  }
  .style-word{
    font-size: 12px;
  }
  #about >ul{
    line-height: 30px;
    font-size: 12px;
  }
  
  #about >h3{
    font-size: 14px;
  }
  .tech-stack >img{
    padding-right: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  
  /* -------------------------------------- */
  
  /* ----------Projects---------- */
  .project{
    margin-bottom: 36px;
    width: 560px;
    height: 340px;
  }
  .project h2{
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .original-project{
    width: 370px;
    height: 220px;
    margin-top: 8px;
  }
  .original-project >Img{
    width: 370px;
    height: 220px;
  } 
  
}

/* -------------Fourth Media Query for width:600px---------------- */

@media (max-width:600px) {
  
  /* ------content------ */
  #writen-content >h1{
    font-size: 20px;
    font-weight: 800;
  }
  .about-me, .contact-me, .projects{
    font-size: 13px;
    padding: 7px;
  }
  
  /* -------------------Abouut----------------- */

  #word-h1{
    font-size: 18px;
  }
  #about >h3{
    font-size: 13px;
  }
  .tech-stack >img{
    padding-right: 20px;
    margin-bottom: 14px;
    margin-top: 14px;
  }
  
  /* -------------------------------------- */
  
  /* ----------Projects---------- */
  .project{
    margin-bottom: 34px;
    width: 350px;
    height: 250px;
  }
  .project h2{
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .original-project{
    width: 300px;
    height: 220px;
    margin-top: 8px;
  }
  .original-project >Img{
    width: 300px;
    height: 220px;
  } 

/* -----------------Contact------------------- */

  .contact>h1{
    font-size: 22px;
  }
  .input{
    width: 250px;
    padding: 8px;
    padding-left: 30px;
  }
  .message{
    padding-bottom: 60px;
    margin-bottom: 30px;
  }
  .submit{
    width: 100px;
    padding: 7px;
    margin-bottom: 40px;
  }
  .connect-size{
    width: 20px;
    margin-right: 12px;
  }
  
  /* -------------------- For Navigation Bar, adding Hamburger Icon ----------------------------- */
  .main-hamburger{
    padding: 10px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
  }
  .hamburger{
    width: 20px;
    height: 3px;
    background-color:white;
    margin-top: 0px;
    margin-bottom: 3px;
  }
  .myLinks{
    display: none;
    position: absolute;
    flex-direction: column;
    border-radius: 15px;
    background-color: #333333;
    color: #fff;
    top: 3.9em;
    padding: 10px 10px;
    right: -12px;
  }
  .myLinks div{
    padding: 25px 40px;
  }
  .main-hamburger:hover .myLinks {
    display: block;
  }
  #photo{
    margin-top: 50px;
  }

  .tech-stack{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
  }
  
}